/* --- Base Element Styles ---*/

* {
  box-sizing: border-box;
}

h1, h2, h3, .bottom-name {
  letter-spacing: 0.04em;
  color: #144055;
}

h1 {
  font-size: 23px;
  padding-top: 30px;
}

h1, main h2 {
  border-bottom: 1px double #1A6283;
  padding-bottom: 20px;
  margin: 0 auto;
}

main h2 {
  font-size: 21px;
  margin-top: 20px;
  max-width: 80%;
}

h3 {
  font-size: 18px;
  margin-top: 20px;
}

a {
  text-decoration: none;
  font-weight: 700;
  font-size: 0.8em;
  letter-spacing: 0.08em;
  font-family: 'Open Sans', sans-serif;
  color: #8BD0F0;
}

body {
  color: #434244;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

p, .contact span {
  font-size: 15px;
  letter-spacing: 0.06em;
  line-height: 25px;
}

/* --- Layout containers --- */

body {
  width: 100%;
  background: url('../images/blue-bg.jpg') no-repeat top;
  background-size: cover;
}

.header, .wrapper, .column_wrapper, .main-container, .footer-container, .bottom-footer {
  display: block;
  text-align: center;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* --- HEADER --- */

header {
  width: 100%;
  margin-top: -15px;
  background-color: #144055;
  padding-bottom: 10px;
}

.name {
  width: 70%;
  color: #fff;
}

ul.nav {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.nav li {
  display: block;
  padding: 15px;
  text-align: center;
  transition: 0.1s;
  transform: perspective(1px) translateZ(0);
  vertical-align: middle;
}

.nav li a:hover, .nav li a:active {
  color: #fff;
  padding-bottom: 5px;
  border-bottom: 2px double #1A6283;
}

/* --- BANNER --- */

.text {
  padding: 25px 20px;
}

img.me {
  width: 200px;
  border-radius: 60%;
  padding-top: 45px;
}

/* --- PORTFOLIO --- */

.column_wrapper {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px;
}

.empty_space {
  height: 40px;
}

.cl-text {
  padding: 0px 62px 20px;
}

.left {
  float: left;
}

.picture {
  width: 292px;
}

.text-box {
  float: left;
}

/* --- SKILSS --- */

#skills {
  background-color: #144055;
  width: 100%;
  border-radius: 0;
  text-align: center;
}

.icon-box {
  margin: 0 auto;
  padding-bottom: 20px;
}

.icon-box p {
  padding: 10px 15px;
  color: #8BD0F0;
}

.icon {
  width: 45px;
}

.skill_wrapper, #skills h2, #skills h3 {
    max-width: 1024px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}

/* --- FOOTER --- */

.contact h2 {
  padding: 10px;
}

.contact {
  padding: 20px 15px 40px;
  margin: 0 auto;
  max-width: 500px;
}

.bottom-footer {
  border-top: 1px groove #8AD1F4;
  margin: 0px 20px;
}

.bold {
  font-weight: 600;
}

.bottom-name {
  font-size: 1em;
}

.right {
  float: right;
}

.back-to-top {
  padding: 18px 0px;
  color: #144055;
}

.footer-nav {
  display: none;
}

/* --- RESPONSIVES --- */

@media screen and (min-width: 768px) {

  .wrapper, .column_wrapper, .bottom-footer  {
    max-width: 1024px;
    margin: 0 auto;
  }

  .wrapper, .bottom-footer  {
    width: 90%;
  }

  .nav li {
    display: inline-block;
  }

  .nav li {
    margin: 17px 4px;
    padding: 7px 12px;
  }

  img.me {
    padding: 20px 10px 40px;
  }

  .name {
    width: 40%;
  }

  .me {
   float: right;
  }

  .me, .text {
    width: 50%;
    text-align: left;
    padding-left: 10px;
  }

  .column_wrapper {
    max-width: 1120px;
    width: 90%;
    border-radius: 40px;
  }

  img.me {
    margin-right: 0px;
  }

  .column {
   width: 50%;
  }

  .bottom-name {
    padding-top: 8px;
  }

  .back-to-top {
    display: none;
  }

  .footer-nav, .footer-nav ul {
    display: inline-block;
    float: right;
  }

  .footer-nav a {
    color: #144055;
  }

  footer .nav li {
    margin: 0px;
  }
}

@media screen and (min-width: 1024px) {

  header {
    padding-bottom: 0px;
  }

  h1 {
    border-bottom: none;
    margin: 20px 0px;
  }

  .name {
    float: left;
    text-align: left;
    position: relative;
    left: 1.5%;
  }

  header nav {
    float: right;
  }

  .nav li {
    padding: 20px;
    margin: 30px 0px;
  }

  .me {
    padding: 0px;
  }

  .picture {
    width: 328px;
  }

  .column {
    width: 33.333%;
  }

  #skills .column {
    width: 25%;
  }

}
