/* --- Base Element Styles ---*/

* {
  box-sizing: border-box;
}

h1, h2 {
  font-size: 18px;
  padding-top: 20px;
}

a {
  text-decoration: none;
  font-weight: 700;
  font-size: 0.75em;
  letter-spacing: 0.01em;
  font-family: 'Open Sans', sans-serif;
  color: #1A6283;
}

body {
  color: #434244;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

p, .contact span {
  font-size: 15px;
  letter-spacing: 0.06em;
  line-height: 25px;
  font-family: 'Ubuntu', sans-serif;
}

/* --- Layout containers --- */

body {
  width: 100%;
  background: url('../images/blue-bg.jpg') no-repeat top;
  background-size: cover;
}

.header, .wrapper, .column_wrapper, .main-container, .footer-container, .bottom-footer {
  display: block;
  text-align: center;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* --- HEADER --- */

header {
  width: 100%;
  background-color: #88D0F2;
}

ul.nav {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: relative;
  left: 16px;
}

.nav li {
  display: block;
  padding: 15px;
  text-align: center;
  transition: 0.1s;
  transform: perspective(1px) translateZ(0);
  vertical-align: middle;
}

.nav li a:hover, .nav li a:active {
  color: #fff;
  padding-bottom: 5px;
  border-bottom: 2px double #1A6283;
}

/* --- BANNER --- */

.text {
  padding-top: 20px;
}

img.me {
  width: 200px;
  border-radius: 60%;
  margin-right: 4%;
}

/* --- MAIN --- */

.picture {
  width: 292px;
}

.left {
  float: left;
}

.column_wrapper {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px;
}

.column_wrapper h2 {
  padding-bottom: 20px;
}

.cl-text {
  padding: 0px 10px 20px;
}

/* --- FOOTER --- */

.contact {
  padding: 20px 15px 40px;
  margin: 0 auto;
  max-width: 500px;
}

.contact h2 {
  padding: 10px;
}

.bottom-footer {
  border-top: 1px groove #8AD1F4;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0px 20px;
}

.bold {
  font-weight: 600;
}

.bottom-name {
  font-size: 0.8em;
}

.right, .footer-nav {
  float: right;
}

.small-screen-footer {
  padding: 18px 0px;
}

.footer-nav li, .footer-nav ul {
  margin: 0px;
}

.name {
  margin: 12px 10px 10px 10px;
}

/* --- RESPONSIVES --- */

@media screen and (max-width: 425px) {
  header {
    margin-top: -12px;
  }
  img.me {
    padding-top: 45px;
  }
  .footer-nav {
    display: none;
  }
}

@media screen and (min-width: 426px) {
  .wrapper, .column_wrapper, .bottom-footer  {
    max-width: 1024px;
    margin: 0 auto;
  }
  .wrapper, .bottom-footer  {
    width: 90%;
  }
  .column_wrapper {
    max-width: 1120px;
    width: 92%;
    border-radius: 40px;
  }
  .name, .nav li {
   display: inline-block;
  }
  .nav li {
   margin: 17px 4px;
   padding: 7px 12px;
  }
  img.me {
    padding: 20px 10px 40px;
  }
  .small-screen-footer {
    display: none;
  }
  .bottom-name {
    padding-top: 14px;
  }
}

@media screen and (max-width: 768px) {
  ul#header-nav.nav {
    margin: 0px 20px 15px;
  }
  #portfolio {
    width: 100%;
  }
  img.me {
    margin-right: 0px;
  }
  .text {
    padding: 25px 20px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .column {
   width: 50%;
  }
  .picture {
    width: 328px;
  }
}

@media screen and (min-width: 768px) {
  .me {
   float: right;
   width: 50%;
  }
  .text {
    width: 50%;
    text-align: left;
    padding-left: 10px;
  }
}

@media screen and (min-width: 769px) {
  .name {
    float: left;
  }
  .me {
    padding: 0px;
  }
  .nav li {
   float: right;
  }
  .column {
   width: 33.333%;
  }
}

@media screen and (min-width: 1024px) {
  .name {
    padding: 11px 0px;
  }
}
